/*..styling home.html page and scenes..*/

*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    display: flex;
    perspective: 1000px;

}

header{ /*..header tag styling ..*/

    position:fixed;
    display: flex;
    z-index: 200;
}

nav{
    position: absolute;
    display: inline;
}

.logo{   /*..logo styling..*/
    justify-content: center;
    margin-left: 450px;
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
}

.btn-nav1{  /*..navigation bottom styling..*/

    display: flex;
    position: absolute;
    margin-left: 116%;
    margin-top: -15%;
    animation: pulsing 1s infinite;

}

.btn-nav2{  /*..navigation button 2  styling..*/
    display: flex;
    position: absolute;
    margin-left: 157%;
    margin-top: -18%;
    animation: pulsing 1.5s infinite;
}

/*..Nav button animation fo pulsing..*/


@keyframes pulsing{
    0% {
        transform: scale(1);
    }

    50%{
        transform: scale(0.97);
    }

    100%{
        transform: scale(1);
    }
}

  section {   /*..section animation when turn book page..*/
    opacity: 1;
    animation: returnToOrigin 0.5s ease-out forwards;
}

    /*..body background with animation moving side..*/

body{
    background-image:url(../image/backH.png);
    background-repeat:repeat;
    transform: translateZ(0);
    animation: bk 30s  linear infinite;
    background-size:cover;
    overflow: hidden;
}

@keyframes bk {
    0% { background-position: 5333px; }
    100% { background-position: 0px; }
  }

    /*..sun styling with animation rotation 360 degrees..*/

  .sun{
    width: 300px;
    display: flex;
    position: relative;
    justify-self: left;
    animation: rotation 9s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotation {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }   
}

/*..book styling with animation bounce up and down..*/

 .book{
     display: flex;
    padding: 20px;
align-items: center;
   cursor: pointer;
   animation: bounce 1s infinite alternate;
   margin-left: 30%;
   margin-top: 10%;
   
}

@keyframes  bounce {
    
    from{transform: translateX(10px);}
    to{transform: translateX(-15px);}
}
/*..book cover hover  styling ..*/

.book:hover .cover{
    transform: rotateX(10deg) rotateY(-180deg);
    transition-duration:3s;
}


/*..book pages hover styling..*/

.book:hover .page{
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2;
}

.cover{
    z-index: 1;

}


.back-cover{
    z-index:-2 ;
}

/*..book back cover  and cover styling..*/
.cover, 
.back-cover{  
    height: 400px;
    width:500px;
    background: #5e2d44;
    border-radius: 2px 20px 20px 2px;
    border: solid 2px  rgb(255, 136, 0);
    position: absolute;
    box-shadow: 1px 1px 20px rgb(54, 52, 52);  
    transform: rotateX(10deg);  
    transform-origin: center left;
    transition-duration:3s;

}

/*..pages and last page styling with animation duration..*/

.page,
.last-page{
    height: 360px;
    width: 480px;
    background: rgb(234, 240, 160);
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    border: solid 2px rgb(200, 206, 140);
    transform: rotateX(10deg);
    transform-origin: center left;
    z-index: -1;
}

/*..pages animation transition with duration child..*/

.page:nth-child(2){
    transition-duration:3s ;
}
.page:nth-child(3){
    transition-duration:2.6s ;
}
.page:nth-child(4){
    transition-duration:2.2s ;
}
.page:nth-child(5){
    transition-duration:1.8s ;
}
.page:nth-child(6){
    transition-duration:3s ;
}

/*..pages hover animation transition with duration child..*/


.book:hover .page:nth-child(2){
    transition-duration: 3s;
}
.book:hover .page:nth-child(3){
    transition-duration: 5.6s;
}
.book:hover .page:nth-child(4){
    transition-duration: 5.2s;
}
.book:hover .page:nth-child(5){
    transition-duration: 4.8s;
}
.book:hover .page:nth-child(6){
    transition-duration: 3s;
}

.last-page img{
    width: 150px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    z-index: -1;
}

/*..last page content h2 styling ..*/

.last-page h2{
    text-align: center;
    font-size: 52px;
}

/*..book cover h2 styling..*/
.cover h2{
    text-align: center;
    margin-top: 30%;
    font-size: 40px;
    font-family:cursive;
    color: yellow;
}

 /*..last page button styling with pulse animation ..*/

.last-page .bt1 {
    width: 90px;
    height: 100px;
    display: flex;
    float: right;
    margin-right: 20px;
    animation: pulse 1000ms infinite;
    margin-top: -100px;

}

@keyframes pulse{
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.15);
    }
}

/*..last page backgground styling ..*/

.last-page .bbk{
    width: 350px;
    margin-top: -10px;
}


/*..footer styling ..*/

footer{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -50%;
    margin-bottom: 20px;
}

/* medium laptop screen size */

@media screen and (max-width: 1437px) {
    .book{
        display: flex;
       padding: 20px;
   align-items: center;
      cursor: pointer;
      animation: bounce 1s infinite alternate;
      margin-left: 15%;
      margin-top: 10%;
      
   }

   footer{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -40%;
    margin-bottom: 20px;
}
}

/* small laptop screen size */

@media only screen and (max-width: 1237px) {
 
   footer{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -40%;
    margin-top: 65%;
}
}

/* large tablet screen size */

@media screen and (max-width: 999px) {

    body{
        background-image:url(../image/backH.png);
        background-repeat:repeat-x;
        background-size:200%;
        transform: translateZ(0);
    
    }

    .book{
        display: flex;
       padding: 20px;
   align-items: center;
      cursor: pointer;
      animation: bounce 1s infinite alternate;
      margin-left: 15%;
      margin-top: 20%;
      
   }

   footer{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -40%;
    margin-top: 85%;
}
}

/* medium tablet screen size */

    @media screen and (max-width: 844px) {

        body{
            height: 100%;
            display: flex;
        
        }
        
        body{
            background-image:url(../image/backH.png);
            background-repeat:repeat-x;
            background-size:300%;
            transform: translateZ(0);
            animation: bk 30s  linear infinite;
        
        }
        
        @keyframes bk {
            0% { background-position: 5333px; }
            100% { background-position: 0px; }
          }
        
          .sun{
            width: 200px;
            display: flex;
            position:fixed;
            justify-self: left;
            margin:5%;
            animation: rotation 9s infinite linear;
            transform-origin: center;
            transform-box: fill-box;
        }
        
        @keyframes rotation {
            from{
                transform: rotateZ(0deg);
            }
            to{
                transform: rotateZ(360deg);
            }   
        }
        
         .book{
             display: flex;
            padding: 20px;
        align-items: center;
           cursor: pointer;
           animation: bounce 1s infinite alternate;
           margin-left: 50%;
           margin-top: 38%;
           
        }
        
        @keyframes  bounce {
            
            from{transform: translateX(10px);}
            to{transform: translateX(-15px);}
        }
        
        .book:hover .cover{
            transform: rotateX(10deg) rotateY(-180deg);
            transition-duration:3s;
        }
        
        .book:hover .page{
            transform: rotateX(10deg) rotateY(-180deg);
            z-index: 2;
        }
        
        .cover{
            z-index: 1;
        }
        
        .back-cover{
            z-index:-2 ;
        }
        
        .cover,
        .back-cover{
            height: 300px;
            width:350px;
            background: #5e2d44;
            border-radius: 2px 20px 20px 2px;
            border: solid 2px  rgb(255, 136, 0);
            position: absolute;
            box-shadow: 1px 1px 20px rgb(54, 52, 52);  
            transform: rotateX(10deg);  
            transform-origin: center left;
            transition-duration:3s;
        
        }
        
        .page,
        .last-page{
            height: 280px;
            width: 340px;
            background: rgb(234, 240, 160);
            position: absolute;
            border-radius: 2px 10px 10px 2px;
            border: solid 2px rgb(200, 206, 140);
            transform: rotateX(10deg);
            transform-origin: center left;
            z-index: -1;
        }
        
        .last-page h2{
            text-align: center;
            font-size: 32px;
        }
        
        .last-page img{
            width: 75px;
            display: block;
            border-radius: 50%;
            margin: 20px auto;
            position: relative;
            z-index: -1;
        }
      
        
        .cover h2{
            text-align: center;
            margin-top: 40%;
            font-size: 25px;
            font-family:cursive;
            color: yellow;
        }
       

        .last-page .bt1 {
            width: 60px;
            height: 70px;
            display: flex;
            float: right;
            margin-right: 20px;
            animation: pulse 1000ms infinite;
            margin-top: -30px;
        
        }
        
        .last-page .bbk{
            width: 225px;
            margin-top: -10px;
        }

        footer{
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-left: -50%;
            margin-bottom: -15%;
        }

        .logo{
            justify-content: center;
            margin-left: 250px;
            margin-top: 8%;
            display: flex;
            flex-wrap: wrap;
        }
        
        .btn-nav1{
            display: flex;
            position: absolute;
            margin-left: 116%;
            margin-top: -15%;
            animation: pulsing 1s infinite;
        
        }
        
        .btn-nav2{
            display: flex;
            position: absolute;
            margin-left: 150%;
            margin-top: -18%;
            animation: pulsing 1.5s infinite;
        }
        
        
        
    }

/* small tablet or mobile horizontal view screen size */

    @media screen and (max-width: 679px) {
  
        body{
            background-image:url(../image/backH.png);
            background-repeat:repeat-x;
            background-size:300%;
            transform: translateZ(0);
            animation: bk 30s  linear infinite;
        
        }
        
       
        .logo{
            width: 173px;
            height: 102px;
            margin-left: 210px;
            margin-top: 8%;
          
        }
        
        .btn-nav1{
            width: 60px;
            height: 60px;
            margin-left: 116%;
            margin-top: -15%;
        
        }
        
        .btn-nav2{
            width: 60px;
            height: 60px;
            margin-left: 150%;
            margin-top: -18%;
        }
          .sun{
            width: 170px;
            margin:5%;
            
        }
        
      
        
         .book{
            padding: 20px;
           margin-left: 40%;
           margin-top: 38%;
           
        }
        
      

        footer{
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-left: -30%;
            margin-top: 95%;
        }        
        
    }
